#Inicio{
    display: flex;
    background-image: url('../Assets/IMG/Fundo_img.jpeg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.esquerda,.direita,.cima,.baixo{
    opacity: 0;
}

body {
    overflow-x: hidden;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html{
    scroll-behavior: auto;

}

nav{
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: #007bff;
    align-items: center;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; 
    z-index: 10;
    
   
}

.nav .nm-perfil{
    position: absolute;
    color: white;
    left: 90px;
    gap: 20px;

}



#nav a{
    align-content: center;
    height: 100%;


}

nav a:hover{
    transition: background-color 0.3s ease ;
    background-color: #0063cc;
}



#nav-menu{

    align-items: center;
    position: fixed;
    height: 500px;
    display: flex;
    flex-direction: column;
    
    
    
}


.coluna{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#zoom{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #14191e80;
    z-index: 1000;
    align-items: center;
    justify-content: center;

}



.flip-container{
    display: flex;
    perspective: 1000px;
    align-items: center;
    justify-content: center;
}

#button-zoom{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 250px;
}

#button-zoom button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
    background-color: #14191e;
    color: #bdbdbd;
    padding: 10px;
    transition: background-color 0.3s ease;
}
#button-zoom button:hover{
    background-color: #acaeaf;
}

.flip-card{
    display: flex;
    transform-style: preserve-3d;
    transition: transform 0.3s ;
}

.rotate{
    transform: rotateY(180deg);
}

.back,.front{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
}

.front-img-zoom{
    max-width: 90vw;
    max-height: 80vh;
    width: 520px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.back-img-zoom{
    max-width: 90vw;
    max-height: 80vh;
    width: 520px;
    height: auto;
    object-fit: cover;
    object-position: center;

}

.back{
    transform: rotateY(180deg);
}

.front-img-zoom {
    transform: translateZ(1px);
}

.nav-link-mob{
    opacity: 0;
}

#perfil-menu{
    opacity: 0;
    border: 5px solid white;
}



#Inicio{
    
    font-family: 'Share Tech Mono',monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}





#botaonav{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0px;
    border: none;
    background: none;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
    margin-top: 10px;
    align-items: flex-end;
    z-index: 10;

    
    
}

#nav-mob {
    position: static; /* ou nem precisa */
}



#botaonav span{
    display: block;
    height: 4px;
    width: 30px;
    background-color: #03448a;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 5px;
}

#perfil{
    position: absolute;
    left: 35px;
    border: 3px solid #3498db;
}



#Sobre{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: #0063cc13;
    padding: 25px;
}

#Listas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#Lista-linguagens{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

#Lista-BD{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Lista-Front{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Lista-Ferramentas{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Habilidades{
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
}

#Python{
    border: 5px solid rgb(83, 175, 236);
    border-radius:10px ;
    background-image: linear-gradient(to right, rgb(83, 175, 236),rgb(235, 235, 114));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#Python:hover{
    transform: scale(1.05);
    box-shadow:  0 0 30px rgb(0, 238, 255);
}

#JavaScript{
    border: 5px solid rgb(250, 250, 133);
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(243, 243, 70), white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#JavaScript:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px yellow;
}

#PHP{
    border: 5px solid rgb(66, 84, 245);
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(66, 84, 245), rgb(53, 52, 52));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#PHP:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(0, 0, 255);
}

#DB{
    border: 5px solid #087892;
    border-radius: 10px;
    background-image: linear-gradient(to right, #087892, #f29418);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#DB:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #087892;
}

#HTML5{
    border: 5px solid #ec652a;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ec652a, #ffffff);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#HTML5:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #ec652a;
}

#CSS{
    border: 5px solid #2465f1;
    border-radius: 10px;
    background-image: linear-gradient(to right, #2465f1, #ffffff);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#CSS:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #2465f1;
}

#Git{
    border: 5px solid #14191e;
    border-radius: 10px;
    background-image: linear-gradient(to right, #fff, #14191e);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#Git:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #14191e;
}

#IDE{
    border: 5px solid #41b6ba;
    border-radius: 10px;
    background-image: linear-gradient(to right, #41b6ba, #fff);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#IDE:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #41b6ba;
}

#Contatos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

#Contatos h1{
    color: #007bff;
}

#contato-ls{
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(150, 150, 150);
    padding: 20px;
    gap: 10px;
    width: 100%;
}

#form-contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(150, 150, 150);
    padding: 20px;
    gap: 10px;
    width: 100%;
}

.campos-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#form-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;

}

#form-button{
    border: none;
    width: 50%;
    background-color: #007bff;
    color: white;
    height: 50px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

#form-button:hover{
    background-color: #0063ce;
}

#mensagem{
    min-height: 100px;
}

#infos{
    display: flex;
    gap: 10px;
    position: absolute;
    border-radius: 100%;
    right: 20px;
}


.other-infos{
    border-radius: 100%;
    text-decoration: none;
    color: #007bff;
    background-color: #fff;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    transition: background-color 0.1s ease;
    
}
.other-infos:hover{
    background-color: rgb(180, 178, 178);
}

#infos-menu{
    display: flex;    
    gap: 10px;
    margin-top: 5px;
}

#infos-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hab-niveis{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.grafico {
    display: flex; 
    align-items: flex-end; 
    justify-content: center;
    height: 250px;
    gap: 5px;    
}
.barra {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 30px; 
    height: 225px;
    margin: 0 5px;
    font-size: x-small;
    font-weight: bold;
}

#python-bar{
    display: flex;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgb(83, 175, 236),rgb(235, 235, 114));
    font-size: x-small;
    justify-content: center;
}

#js-bar{
    display: flex;
    width: 100%;
    height: 70%;
    background-image: linear-gradient( rgb(243, 243, 70), white);
    font-size: x-small;
    justify-content: center;
}

#php-bar{
    display: flex;
    width: 100%;
    height: 75%;
    background-image: linear-gradient( rgb(66, 84, 245), rgb(53, 52, 52));
    font-size: x-small;
    justify-content: center;
}

#mysql-bar{
    display: flex;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(#087892, #f29418);
    font-size: x-small;
    justify-content: center;
}

#html5-bar{
    display: flex;
    width: 100%;
    height: 75%;
    background-image: linear-gradient( #ec652a, #ffffff);
    font-size: x-small;
    justify-content: center;
}

#css-bar{
    display: flex;
    width: 100%;
    height: 80%;
    background-image: linear-gradient( #2465f1, #ffffff);
    font-size: x-small;
    justify-content: center;
}

#arduino-bar{
    display: flex;
    width: 100%;
    height: 70%;
    background-image: linear-gradient( #41b6ba, #fff);
    font-size: x-small;
    justify-content: center;
}


.linha-config{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 225px;
    height: 250px;
}
.linha{
    width: 2px;
    height: 100%;
    background-color: black;
}


#img-sobre{
    max-height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
}

#sobre-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

#Formacoes{
    display: flex;
    flex-direction: column;

}

#Certificados{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    z-index: 1;
    padding: 20px;
    gap: 20px;
    
}

footer{
    margin-top: 50px;
    height: 50px;
}

#Copyright{
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5px;
}

#Copyright p{
    margin: 0;
}


main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#ls-experiencias p{
    color: #6e6e6e;
}

.img-certificados{
    position: relative;
    z-index: 1;
    border-top: #0063cc solid;
    border-bottom: #0063cc solid;
    width: auto;
    height: 300px;
    border-radius: 20px;
    max-height: 90vh;
    max-width: 90vw;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    
}

.img-certificados:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) ;
}




/* Ativadores de animação*/

#botaonav.x span:nth-child(1){
    transform: translatey(10px) rotate(45deg);
}

#botaonav.x span:nth-child(2){
    opacity: 0;
}

#botaonav.x span:nth-child(3){
    transform: translateY(-5px) rotate(-45deg);
}


.animacao-aparecer-nav{
    animation: abrir-nav 0.3s forwards;
}
    
.animacao-aparecer-items{
    animation: aparecer-items 0.3s forwards;
    animation-delay: 0.5s;
}

.animacao-fechar-nav{
    animation: fechar-nav 0.3s forwards;
    animation-delay: 0.5s;
}

.animacao-fechar-items{
    animation: desaparecer-items 0.3s forwards;
}

.vir-esquerda{
    animation: aparecer-esquerda 1s forwards;
    animation-delay: 0.3s;
}

.vir-direita{
    animation: aparecer-direita 1s forwards;
    animation-delay: 0.3s;
}

.vir-cima{
    animation: aparecer-cima 0.7s forwards;
    animation-delay: 0.5s;
}

.vir-baixo{
    animation: aparecer-baixo 0.7s forwards;
    animation-delay: 0.5s;
}

.aparecer-zoom{
    animation: escurecer-zoom 0.3s ease;
}

.ampliar-img{
    animation: aparecer-card 0.3s ease;
}

.fechar-zoom{
    animation: clarear-zoom 0.3s ease;
}

.diminuir-img{
    animation: fechar-card 0.3s ease;
}

/*Campo de animações*/
@media (max-width: 1800px) {
    #nav-bar{
        animation: desaparecer-nav 0.3s forwards;
    }
    
}

@media (min-width:1200px) {
    #nav-bar{
        animation: aparecer-nav 0.3s forwards;
    }
    
    
    
}

@keyframes clarear-zoom {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fechar-card {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes escurecer-zoom {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes aparecer-card{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}

@keyframes aparecer-nav {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        z-index: 10;
    }
    
}

@keyframes desaparecer-nav {
    from{
        height: 50px;
        opacity: 1;

    }
    to{
        height: 0px;
        opacity: 0;
        visibility: hidden;
    }
    
}

@keyframes abrir-nav {
    from{
        height: 0px;
    }
    to{
        height: 500px;
    }
    
}

@keyframes fechar-nav {
    from{
        height: 500px;
    }
    to{
        height: 0px;
    }
    
}

@keyframes aparecer-items {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes desaparecer-items {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}

@keyframes aparecer-esquerda {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    60%{
        opacity: 1;
        transform: translateX(25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aparecer-direita {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    60%{
        opacity: 1;
        transform: translateX(-25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes aparecer-cima {
    from{
        opacity: 0;
        transform: translatey(-100px) ;
        
    }
    60%{
        opacity: 1;
        transform: translatey(25px) ; 
       
    }
    100%{
        opacity: 1;
        transform: translatey(0) ;
    }
    
}

@keyframes aparecer-baixo {
    from{
        opacity: 0;
        transform: translatey(100px) ;
        
    }
    60%{
        opacity: 1;
        transform: translatey(-25px) ; 
       
    }
    100%{
        opacity: 1;
        transform: translatey(0) ;
    }
    
}
